<div class="row mx-1">
    <div class="col-md-12 justify-content-between">
        <nav class="navbar navbar-light bg-light "> 
            <div class="col navbar-brand"><span style="font-family: 'Press Start 2P', cursive; ">Jesse Meyer</span>, MSMIS, PMP, CSM - Full-Stack Developer</div>
            <div class="col align-content-end">                        
                <a class="nav-item btn btn-light" href="/dashboard">Dashboard</a>
                <!-- <a class="nav-item btn btn-light" href="/users/show/{{ user_link }}" id="view_profile">Profile</a> -->
                <a href="" class="nav-item btn btn-bd-secondary">Button</a>
                <a class="nav-item btn btn-light ml-3" href="/logout">Log off</a>
            </div>
        </nav>
    </div>
</div>
